:root {
  --font-inter: "__inter_20b187", "__inter_Fallback_20b187";
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;

  --fz-sm: 0.75rem;

  --c-light: #6edaff;
  --fz-lg: 18px;
  --fz-xl: 20px;
}
::selection {
  background: rgba(99 194 196);
  --tw-text-opacity: 1;
  color: rgb(19 78 74 / var(--tw-text-opacity));
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  line-height: 1.5;
  scroll-behavior: smooth;
}
body {
  background: #0a0a24 center / cover no-repeat;
  font-family: var(--font-inter), var(--font-sans);
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
main,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.prtn-box {
  position: sticky;
  top: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: white;
}
.content {
  width: 50%;
}

.prtn-box h1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}

.prtn-box h2 {
  letter-spacing: 0.1px;
  font-weight: 500;
  margin-top: 0.75rem;
}

.prtn-box p {
  color: #94a3b8;
  max-width: 25rem;
  margin-top: 1rem;
}
.prtn-box .nav-menu {
  margin: 3rem 0;
  width: max-content;
  color: #64748b;
}
.prtn-box .nav-menu li a {
  padding: 0.75rem 0;
  display: flex;
  color: inherit;
  align-items: center;
  font-size: var(--fz-sm);
  font-weight: 700;
  transition: all 0.3s ease;
}
.prtn-box .nav-menu li a:hover {
  color: wheat;
}

.prtn-box .nav-menu .nav-indicator {
  width: 2rem;
  height: .15rem;
  --tw-bg-opacity: 1;
  background-color: rgb(71 85 105 / var(--tw-bg-opacity));
  margin-right: 1rem;
  transition: width 0.3s ease;
}
.prtn-box .nav-menu a:hover .nav-indicator {
  width: 4rem;
  --tw-text-opacity: 1;
  background-color: rgb(245 222 178 / var(--tw-bg-opacity));
}

.prtn-box .nav-menu a.active .nav-indicator {
  --tw-text-opacity: 1;
  background-color: rgb(245 222 178 / var(--tw-bg-opacity));
  width: 4rem;
}

.prtn-box .nav-menu a.active .nav-text {
  --tw-text-opacity: 1;
  color: rgb(245 222 178 / var(--tw-text-opacity));
}
.prtn-box .scl-mdia {
  list-style: none;
}

.prtn-box .scl-mdia li {
  display: inline-block;
}

.prtn-box .scl-mdia li a {
  color: #b9b9b9;
  font-size: 1.7rem;
  padding: 10px 5px;
  transition: all 0.5s ease-in-out;
  display: block;
}

.prtn-box .scl-mdia li a:hover {
  color: white;
  transform: scale(1.3);
}

.prtn-box .scl-mdia li i.fa-instagram:hover {
  background: linear-gradient(
    to right,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #ffc107
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.prtn-box .scl-mdia li i.fa-linkedin:hover::before {
  content: "\f0e1";
  font-size: 1.375rem;
  width: 2rem;
  height: 2rem;
  padding: 6px 5px 4px 5px;
  background: #2d9ad1;
  color: white;
  border-radius: 5px;
}

.content #sobre-mi .img-box {
  box-shadow: 0 0 5px 5px #ccc;
  position: relative;
  display: flex;
  margin: 1.5rem auto;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.content #sobre-mi .img-box img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.content .education-list .card {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 1rem;
  padding: 1rem;
  background: transparent;
  border-radius: 16px;
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid transparent;
  margin-bottom: 1rem;
}

.content .education-list .card:hover {
  box-shadow: 0 3px 5px rgba(141, 242, 255, 0.1);
  background: rgba(255, 255, 255, 0.03);
  border-color: rgba(255, 255, 255, 0.02);
}

.content .education-list .card:hover span {
  --tw-text-opacity: 1;
  color: rgb(53 197 210 / var(--tw-text-opacity));
}

.content .projects-list .card {
  padding: 1rem;
  background: transparent;
  border-radius: 16px;
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid transparent;
  margin-bottom: 1rem;
}

.content .projects-list .card:hover {
  box-shadow: 0 3px 5px rgba(141, 242, 255, 0.1);
  background: rgba(255, 255, 255, 0.03);
  border-color: rgba(255, 255, 255, 0.02);
}

.content .projects-list .card:hover span {
  --tw-text-opacity: 1;
  color: rgb(53 197 210 / var(--tw-text-opacity));
}
