---
import Layout from "../layouts/Layout.astro";
import About from "../components/sections/About.astro";
import Education from "../components/sections/Education.astro";
import Proyects from "../components/sections/Proyects.astro"
---

<Layout title="Amed Pereda">
  <main id="content" class="pt-24 lg:w-1/2 lg:py-24">
    <About />
    <Education />
		<Proyects />
  </main>
</Layout>
