<li class="mr-5">
  <a
    class="
    block 
    transition-all ease-in-out
    hover:scale-110
    hover:text-slate-200
    "
    {...Astro.props}
    target="_blank"
    rel="noopener noreferrer">
    <slot />
  </a>
</li>
